$color-primary: #7daa37 ;
$color-primary-shade: linear-gradient(to right, rgba($color-primary, .65), rgba($color-primary, .65));
$color-secondary:#d9534f;
$color-secondary-shade: linear-gradient(to right, rgba($color-secondary, .65), rgba($color-secondary, .65))

